
<%= render "shared/header" %>
<br>
<br>
<br>
<br>
<br>
<div id="main_container" class="container ">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
        <h1><a name="about"></a>ABOUT ROTTEN TOMATOES&reg;</h1>
                <p>
                    Rotten Tomatoes&reg; and the Tomatometer&reg; rating is the most trusted measurement of quality entertainment.
                    As the leading online aggregator of movie and TV show reviews from professional critics, Rotten Tomatoes offers
                    the most comprehensive guide to what's fresh. The world famous Tomatometer rating represents the percentage of
                    positive professional reviews for films and TV shows and is used by millions every day, to help with their
                    entertainment viewing decisions. Rotten Tomatoes designates the best reviewed movies and TV shows as Certified
                    Fresh&trade;. That accolade is awarded with Tomatometer ratings of 75% and higher, and a required minimum number
                    of reviews. Weekly Rotten Tomatoes podcasts can be found on RottenTomatoes.com, iTunes, Soundcloud and Stitcher,
                    and Rotten Tomatoes' entertainment experts make regular TV and radio appearances across the US.
                </p>

                <p>
                    In 2016, Flixster and Rotten Tomatoes became part of Fandango's portfolio of digital properties, serving moviegoers
                    and entertainment fans.
                </p>
                </div>
                </div>

                <hr />
    <div class="row">
       <div class="col-lg-12 col-md-12 col-xs-12">

                <h2>What is the Tomatometer&reg;?</h2>
                <p>
                    The Tomatometer rating - based on the published opinions of hundreds of film and television critics - is a
                    trusted measurement of movie and TV programming quality for millions of moviegoers.
                </p>
                <p>
                    The Tomatometer rating represents the percentage of professional critic reviews that are positive for a given
                    film or television show.
                </p>
                <p>
                    Back in the days of the open theaters, when a play was particularly atrocious, the audience expressed their
                    dissatisfaction by not only booing and hissing at the stage, but throwing whatever was at hand -- vegetables and fruits included.
                </p>
                <div style="padding:8px 0">
                    <div class="icon big fresh fl"></div>
                    <div style="padding:0 75px">
                        A good review is denoted by a fresh red tomato. In order for a movie or TV show to receive an overall rating of Fresh, the reading on the Tomatometer
                        for that movie must be at least 60%.
                    </div>
                </div>
                <div style="padding:8px 0">
                    <div class="icon big rotten fl"></div>
                    <div style="padding:12px 75px">A bad review is denoted by a rotten green tomato splat (59% or less).</div>
                </div>
                <div style="padding:8px 0">
                    <div class="icon big certified fl"></div>
                    <div style="padding-left:75px">
                        To receive a Certified Fresh rating a movie must have a steady Tomatometer rating of 75% or
                        better.  Movies opening in wide release need at least 80 reviews from Tomatometer Critics
                        (including 5 Top Critics). Movies opening in limited release need at least 40 reviews from
                        Tomatometer Critics (including 5 Top Critics). A TV show must have a Tomatometer Score of
                        75% or better with 20 or more reviews from Tomatometer Critics (including 5 Top Critics).
                        If the Tomatometer score drops below 70%, then the movie or TV show loses its Certified
                        Fresh status. In some cases, the Certified Fresh designation may be held at the discretion
                        of the Rotten Tomatoes editorial team.
                    </div>
                </div>
                </div>
                </div>

                <br />
                <div class="row">
            		<div class="col-lg-12 col-md-12 col-xs-12">
                <h3>What is the Audience Score?</h3>
                <p>The Audience rating, denoted by a popcorn bucket, is the percentage of all Flixster.com and RottenTomatoes.com
                    users who have rated the movie or TV Show positively.</p>
                <div style="padding:8px 0">
                    <div class="icon big popcorn fl"></div>
                    <div style="padding:4px 75px">The full popcorn bucket means the movie received 3.5 stars or higher by Flixster and Rotten
                        Tomatoes users.</div>
                </div>
                <div style="padding:8px 0">
                    <div class="icon big spilled fl"></div>
                    <div style="padding:6px 75px">The tipped over popcorn bucket means the movie received less than 3.5 stars by Flixster and Rotten
                        Tomatoes users.</div>
                </div>
                <div style="padding:8px 0">
                    <div class="icon big wts fl"></div>
                    <div style="padding-left:75px">The plus sign will appear for movies that do not have audience ratings or reviews.  The percentage
                        you see associated with this icon is the percentage of users who added the movie to their
                        Want-to-See list.</div>
                </div>
                </div>
                </div>

                <hr />
                <div class="row">
            		<div class="col-lg-12 col-md-12 col-xs-12">

                <a name="editorial"></a>
                <h2>Editorial Team</h2>

                <div class="row edTeamMember">
                    <div class="teamHeader col-sm-18 col-full-xs">
                        <p class="bold">&nbsp;&nbsp;&nbsp;Matt Atchity, Editor-in-Chief</p>
                    </div>
                    <div class="col-sm-6 col-full-xs">
                        <img src="https://staticv2-4.rottentomatoes.com/static/images/press/MattAbout.jpg" />
                    </div>
                    <div class="col-sm-18 col-full-xs">
                        <p>
                            Matt Atchity has over fifteen years of experience managing and building websites that
                            cover a variety of entertainment categories, such as movies, TV, music, celebrities and
                            video games.  Under Matt's leadership, Rotten Tomatoes has seen its traffic double
                            over the past five years.
                        </p>
                        <p>
                            Every week, Matt's movie review roundups are broadcast
                            on TV, web and radio around the country on outlets such as Adam Carolla's podcast,
                            FOXnews.com and Good Day LA On KTTV.  Matt also produces and hosts the popular
                            Rotten Tomatoes podcast, a weekly deep dive into the hottest movies and TV shows.
                            
                        </p>
                        
                        <Br/>
                        
                    </div>
                </div>

                <br />
                <div class="row edTeamMember">
                    <div class="teamHeader col-sm-18 col-full-xs">
                        <p class="bold">&nbsp;&nbsp;&nbsp;Grae Drake, Senior Movie Editor</p>
                    </div>
                    <div class="col-sm-6 col-full-xs">
                        <img src="https://staticv2-4.rottentomatoes.com/static/images/press/GraeAbout.jpg" />
                    </div>
                    <div class="col-sm-18 col-full-xs">
                        <p>
                            In 6th grade, when Grae Drake was arranging movie outings for all her friends, she picked the movie.  Through the years - studying film at the University of Texas at Austin, being honored by Sundance and the Director's Guild of America, and working
                            as a filmmaker in Los Angeles - she realized how terrible she was at keeping her opinions to herself, leading to the birth of Grae's The Popcorn Mafia podcast.
                        </p>
                        <p>
                            Now,she regularly conducts Rotten Tomatoes celebrity interviews at movie junkets, and dishes the dirt with stars on HLN's Showbiz Tonight, Fox News and G4's Attack of the Show. Each week, Grae's thoughts can be heard on radio all over North America.
                        </p>
                        
                        <p>&nbsp;&nbsp;&nbsp;Follow Grae on Twitter <a href="https://www.twitter.com/graedrake">@graedrake</a>.</p>
                    </div>
                </div>

                <br />
                <div class="row edTeamMember">
                    <div class="teamHeader col-sm-18 col-full-xs">
                        <span class="bold">&nbsp;&nbsp;&nbsp;Timothy Ryan, Senior Editor</span>
                    </div>
                    <div class="col-sm-6 col-full-xs"><img src="https://staticv2-4.rottentomatoes.com/static/images/press/TimAbout.jpg" /></div>
                    <div class="col-sm-18 col-full-xs">
                        <p>Growing up in Rhode Island, Tim Ryan spent many an afternoon pouring over the
                            reviews in <em>Roger Ebert's Home Movie Companion</em> and <em>Leonard Maltin's Movie Guide</em>.
                            After graduating from the University of Rhode Island with a degree in journalism,
                            Tim worked as a beat reporter for several New England newspapers throughout
                            New England and obsessively watched movies in his downtime. He joined the staff
                            of Rotten Tomatoes in September of 2004, where he has overseen the aggregation
                            of reviews, written features, compiled movie lists, interviewed celebrities, and
                            contributed to RT's radio show and podcast.</p>
                            <p>&nbsp;&nbsp;&nbsp;Follow Tim on Twitter <a href="https://twitter.com/@Tim_Ryan_RT">@Tim_Ryan_RT</a>.</p>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
</section>
</div>
<%= render "shared/footer" %>
